<a href="https://colab.research.google.com/github/udaykbce/practice_problem_python/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# lcm
x = int(input())
y =int(input())
def lcm(x,y):
  largest = 0
  if x > y:
    largest = x
  else:
    largest = y

  while True:
    if (largest % x == 0) and (largest % y == 0):
      print(largest)
      break
    else:
      largest += 1

lcm(x,y)

4
6
12

In [ ]:
# Write a program to sum the digits of the number until it became single digit


def sum_until_single_digit(inp):
  return (inp-1)%9 + 1 if inp > 9 else inp

inp = int(input())
sum_until_single_digit(inp)

9999

9

In [ ]:
# other method
def sum_digit(num):
  while num >= 10:
    num = sum(int(i) for i in str(num))
  return num

num  = int(input())
sum_digit(num)

9999

9

In [6]:
# Write a program to reverse an integer python
inp = int(input())
strs = ""
for i in str(inp):
  strs += i

print(strs[::-1])

12345
54321

In [ ]:
check1 = ['Learn', 'Quiz', 'Practice', 'Contribute']
check2 = check1
check3 = check1[:]

check2[0] = 'Code'
check3[1] = 'Mcq'

count = 0
for c in (check1, check2, check3):
    if c[0] == 'Code':
        count += 1
    if c[1] == 'Mcq':
        count += 10

print (count)

12

In [ ]:
def addToList(listcontainer):
    listcontainer += [10]

mylistContainer = [10, 20, 30, 40]
addToList(mylistContainer)
print(len(mylistContainer))

5

In [ ]:
nameList = ['Harsh', 'Pratik', 'Bob', 'Dhruv']

print(nameList[1][-1])

k

In [ ]:
count = 1

def doThis():

    global count

    for i in (1, 2, 3):
        count += 1

doThis()

print (count)

4

In [ ]:
a = True
b = False
c = False

if not a or b:
    print (1)
elif not a or not b and c:
    print (2)
elif not a or b or not b and a:
    print (3)
else:
    print (4)

3

In [ ]:
a = True
b = False
c = False

if a or b and c:
    print ("HELLO")
else:
    print ("hello")

HELLO

In [ ]:
r = lambda q: q * 2
s = lambda q: q * 3
x = 2
x = r(x)
x = s(x)
x = r(x)
print (x)

24

In [ ]:
x = 1
while True:
  if x % 5 == 0:
    break
  x += 1

print(x)

5

In [ ]:
all([2,4,0,6])

False

In [ ]:
round(4.576)

5

In [ ]:
class Name:
    def __init__(javatpoint):
        javajavatpoint = java
         name1=Name("ABC")
           name2=name1

In [ ]:
def my_func(st):
  l1 = [ch for ch in st if ch.isalpha()]
  return "".join(l1.pop() if ch.isalpha() else ch for ch in st)

st = 'ab-cd-ef'
print(my_func(st))

fe-dc-ba

In [ ]:
x = [[0],[1]]
print((" ".join(list(map(str,x))),))

('[0] [1]',)

In [ ]:
# fibonacci series
def fibos(num):
  m,n =0,1
  if num < 0:
    print("invalid input")
  elif num == 1:
    print(0)
  else:
    count = 0
    while count<= num:
      print(m, end =" ")
      a = m+n
      m = n
      n = a
      count += 1
    print(m)

fibos(6)

0 1 1 2 3 5 8 13

In [ ]:
#prime number
num = int(input())
temp = 0
for i in range(2,num):
  if num%i == 0:
    temp = 1

if temp == 1:
  print("Not Prime no")
else:
  print("prime no")

2
prime no

In [ ]:
# Prime no
inp = int(input())
def prime_no(inp):
  temp = 0
  for i in range(2,inp):
    if inp%i == 0:
      temp = 1

  if temp == 1:
    print("not prime no")
  else:
    temp == 0
    print("prime no")

prime_no(inp)

7
prime no

In [ ]:
# n = eval(input())
lst = ['abc.txt', 'windows.dll', 'tiger.png', 'rose.jpg', 'test.py', 'win32.exe']
# for i in n:
#     lst.append(i)

def lst_t(lst):
    result = []
    for i in lst:
        if i.split('.')[1] in ("txt","dll","png","jpg","exe") and i[0].isalpha() and sum(j.isdigit() for j in i) <4:
            result.append("Yes")
        else:
            result.append("No")
    return result

print(lst_t(lst))

['Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes']

In [ ]:
number1 = int(input())
number2 = int(input())
sum = number1+number2
if sum > 0:
  print("Positive")
else:
  print("Negative")

22
-40
Negative

In [ ]:
inp = int(input())
reverse = str(inp)[::-1]
print(reverse)

534750
057435

In [ ]:
num = 534750
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 57435

In [ ]:
s = "uday kant"
for i in s.split(" "):
  y = i.capitalize()
  print(y, end = " ")

Uday Kant

In [ ]:
# Write a python program to divide a list in halves, reverse each halve and concatenate both.

inp = [1,2,3,4,5,6,7,8]
def split(inp):
    half = len(inp)//2
    return inp[half-1::-1],inp[-1:half-1:-1]

a,b = split(inp)
req = a+b
print(req)

[4, 3, 2, 1, 8, 7, 6, 5]

In [ ]:
rows= 5
colms= 5
for i in range(1,rows+1):
    for j in range(1,colms+1):
        if (j==1 or j ==colms) or (i == 1 or i == rows) and (j>0 and j<colms):
            print("0.", end ="")
        else:
          print(end = "  ")


    print()

0.0.0.0.0.
0.      0.
0.      0.
0.      0.
0.0.0.0.0.

In [ ]:
n=int(input())
ascii = 65
for i in range(n):
    for j in range(i+1):
        alpha = chr(ascii)
        print(alpha, end = " ")
    ascii += 1
    print()

4
A
B B
C C C
D D D D

In [ ]:
print("The character pattern ")
asciiValue = 65     #ASCII value of A
for i in range(0, 5):
    for j in range(0, i + 1):
        # It will convert the ASCII value to the character
        alphabate = chr(asciiValue)
        print(alphabate, end=' ')
        asciiValue += 1
    print()

The character pattern
A
B C
D E F
G H I J
K L M N O

In [ ]:
str1 =input().split(" ")
substr=input()
str2 = ""
index = 0
for i in str1:
  if substr == i:
    str2 = i
index = str1[::-1].index(substr)
print(f"Last occurrence of {str2} starts at index {index}")

uday kant uday
uday
Last occurrence of uday starts at index 0

In [ ]:
inp = int(input())
if inp > 90:
    print("excellent")
elif inp > 80:
    print("good")
elif inp > 70:
    print("fair")
elif inp > 60:
    print("meets expecrtation")
elif inp < 60:
    print("below par")
else:
    print("invalid input")

74
fair

In [ ]:
digitsList=[]
for i in range(4):
    str = input()
    digits=[int(x) for x in str.split(',')]
    digitsList.append(digits)
print(digitsList)
for i in range(len(digitsList)):
    rowNum = digitsList[i][0]
    colNum = digitsList[i][1]
    multilist = [[col for col in range(colNum)] for row in range(rowNum)]

    val = 1
    for row in range(rowNum):
      for col in range(colNum):
          multilist[row][col]= val
          val +=  1

    print(multilist)

2,2
2,3
3,3
3,4
[[2, 2], [2, 3], [3, 3], [3, 4]]
[[1, 2], [3, 4]]
[[1, 2, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [ ]:
# for val in map(lambda x:int(x),input().split(',')):
#   print(val)

map(lambda x:int(x),input().split(','))

45,666

In [ ]:
# factorial in recursion

def factorial(n):
  if n < 0:
    return "invalid"
  elif n == 0:
    return 1
  else:
    return n*factorial(n-1)

n = int(input())
factorial(n)

1

1

In [ ]:
# hcf
x = int(input())
y = int(input())

if x > y:
  smallest = y
else:
  smallest = x
a = []
for i in range(2,smallest):
  if (x%i == 0) and (y%i == 0):
    a = i

print(a)

144
104
8

In [ ]:
# deciml to binary octal hexadeciml
decimal = int(input())

print(bin(decimal),"binary of decimal")
print(oct(decimal),"octal of decimal")
print(hex(decimal),"hexadecimal of decimal")

12
0b1100 binary of decimal
0o14 octal of decimal
0xc hexadecimal of decimal

In [ ]:
# to find ascii
inp  = input()
char = list(inp)
for i in char:
  ascii = ord(i)
  print(ascii)

abc
97
98
99

In [ ]:
x= "abcdef"
i = 'a'
while i in x:
  x = x[:-1]
  print(i,end = " ")

a a a a a a

In [ ]:
# four basic mathematical operation
a = []
for i in range(1,3):
  x = int(input(f"input no {i}: "))
  a.append(x)

operations = ["/","*", "+", "-"]
op_inp = input()
if op_inp in operations:
  if op_inp == "/":
    print(a[0]/a[1])
  elif op_inp == "*":
    print(a[0]*a[1])
  elif op_inp == "+":
    print(a[0]+a[1])
  else:
    print(a[0]-a[1])
else:
  print("invalid input")

input no 1: 25
input no 2: 5
*
125

In [ ]:
import time

for i in range(10):
    print(f"Progress: {i}/10", end="\r")
    time.sleep(1)

In [ ]:


animation = "|/-\\"
for i in range(10):
    print(f"Loading {animation[i % len(animation)]}\r123")

123
123
123
123
123
123
123
123
123
123

In [ ]:
# fibonacci series using recursion(repetation)
def recr_fibo(n):
  if n <= 1:
    return n
  else:
    return (recr_fibo(n-1)+ recr_fibo(n-2))


series_length = int(input())
if series_length < 0:
  print("invalid input")
else:
  print("fibonacci series: ")
  for i in range(series_length):
    print(recr_fibo(i), end =" ")

10
fibonacci series:
0 1 1 2 3 5 8 13 21 34

In [ ]:
n = int(input("please give a number for fibonacci series : "))
first,second=0,1
print("fibonacci series are : ")
for i in range(0,n):
    if i<=1:
        result=i
    else:
      result = first + second;
      first = second;
      second = result;
    print(result, end = " ")

please give a number for fibonacci series : 5
fibonacci series are :
0 1 1 2 3

In [ ]:
# factorial program using recurtion
def factorial(n):
  if n == 1:
    return n
  else:
    return n*factorial(n-1)

n = int(input())

if n < 0:
  print("invalid input")
elif n == 0:
  print("factorial of 0 is 1")
else:
  print(f"factorial of {n} is {factorial(n)}")

0
factorial of 0 is 1

In [ ]:
# cube sum of n natural numbers
n = int(input())
sum = 0
for i in range(1, n+1):
  sum += i**3
print(sum)

3
36

In [ ]:
# sum of array
lst = list(input().split(","))
sum = 0
for i in lst:
  sum += int(i)
print(sum)

12,13,14
39

In [ ]:
# find largest element in arary
n = int(input())
lst = []
for i in range(n):
  element = input()
  lst.append(element)
print(lst)

y = max(lst)
print(y)

2
12
13
['12', '13']

TypeError: ignored

In [ ]:
array = []
for i in range(2):
  array.append(int(input()))

print(array[::-1])

12
13
[13, 12]

In [ ]:
# add first part to end of the array


def replace(array, n, pos):
  for i in range(0, pos):
    x = array[0]
    for j in range(0,n-1):
      array[j] = array[j+1]

    array[n - 1] = x

array = []
for i in range(int(input("length of array: "))):
  array.append(int(input("array element: ")))
n = len(array)
pos = int(input("replacement position: "))
replace(array, n, pos)
for i in range(0, n):
	print(array[i], end = ' ')

length of array: 5
array element: 12
array element: 15
array element: 14
array element: 16
array element: 13
replacement position: 3
16 13 12 15 14

In [ ]:
def SplitArray(arr, n, k):
	for i in range(0, k):
		x = arr[0]
		for j in range(0, n-1):
			arr[j] = arr[j + 1]

		arr[n-1] = x
arr = [15, 40, 20, 16, 50, 36]
n = len(arr)
position = 2
SplitArray(arr, n, position)
for i in range(0, n):
	print(arr[i], end = ' ')

20 16 50 36 15 40

In [ ]:
# Write a Python program to print even length words in a string using list comprehension
inp = input().split(" ")
lst = list(inp)
# for i in lst:
#   if len(i)%2 == 0:
#     print(i)
out = [i for i in lst if len(i)%2 == 0]
print(out)

I am working in google
['am', 'in', 'google']

In [ ]:
# given array is monotonic or not
def monotonic(arr):
  x,y = [], []
  x.extend(arr)
  y.extend(arr)
  x.sort()
  y.sort(reverse = True)
  if (x == arr or y == arr):
    print("monotonic")
  else:
    print("not monotonic")


arr = []
for j in range(int(input("length of arr: "))):
  arr.append(int(input("elements: ")))
monotonic(arr)

KeyboardInterrupt: ignored

In [ ]:
# add two matrix
x = [[1,2,4],
     [4,5,2],
     [5,3,6]]

y = [[4,3,5],
     [5,4,6],
     [7,9,6]]

result = [[0,0,0],
          [0,0,0],
          [0,0,0]]

for i in range(len(x)):
  for j in range(len(x[0])):
    result[i][j] = x[i][j]+y[i][j]

for r in result:
  print(r)

[5, 5, 9]
[9, 9, 8]
[12, 12, 12]

In [ ]:
# multiply two matrix
x = [[4,5,3],
     [5,3,2],
     [7,6,5]]

y = [[2,3,9],
     [3,6,8],
     [3,4,9]]

result = [[1,1,1],
          [1,1,1],
          [1,1,1]]

for i in range(len(x)):
  for j in range(len(x[0])):
    result[i][j] = x[i][j]*y[i][j]


for r in result:
  print(r)

[8, 15, 27]
[15, 18, 16]
[21, 24, 45]

In [ ]:
# transpose of matrix
a = [[4,5,6],
     [3,2,5]]

transpose = [[0,0],
             [0,0],
             [0,0]]

for i in range(len(a)):
  for j in range(len(a[0])):
    transpose[j][i] = a[i][j]

for t in transpose:
  print(t)

[4, 3]
[5, 2]
[6, 5]

In [ ]:
# sort words in alphabetic order
string = input().split(' ')
result = []
for i in string:
  result.append(i)

x = result.sort()
print(result)

dadfsd hjjhh bcvv
['bcvv', 'dadfsd', 'hjjhh']

In [ ]:
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

words = input()
result = ""
for i in words:
  if i not in punc:
    result += i
print(result)

uday@gmail.com
udaygmailcom

In [ ]:
# disarium number (175 = 1^1 + 7^2 + 5^3 = 1 + 49 +125 =175)
n = int(input())

def disarium(n):
  num = 0
  for i in range(len(str(n))):
    num += int(str(n)[i])**(i+1)
  return num

if n == disarium(n):
  print("disarium no")
else:
  print("not disarium no")

176
not disarium no

In [ ]:
175//10

17

In [ ]:
# disarium no from 1 to 100
def disarium(n):
  num = 0
  for i in range(len(str(n))):
    num += int(str(n)[i])**(i+1)
  return num

for i in range(100):
  if i == disarium(i):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9 89

In [ ]:
# happy number
inp = int(input())
def happynum(inp):
  sum = 0
  while inp > 0:
    digit = inp%10
    sum += digit**2
    inp //= 10
  return sum

result = happynum(inp)
while (result != 1 and result > 0):
  result = happynum(result)

if result == 1:
  print("happy num")
else:
  print("Not happy num")

20

KeyboardInterrupt: ignored

In [ ]:
def is_Happy_num(n):
  past = set()
  while n != 1:
        n = sum(int(i)**2 for i in str(n))
        if n in past:
            return False
        past.add(n)
  return True

n = int(input())
is_Happy_num(n)

20

False

In [ ]:
a = int(input())
lst = []
for i in range(a):
  element = int(input())
  lst.append(element)

sum = 0
for i in lst:
  sum += i
print(sum)

4
4
5
6
7
22

In [ ]:
a = int(input())
b = []
for i in range(a):
  elem = int(input())
  b.append(elem)

mult = 1
for i in b:
  mult *= i
print(mult)

5
4
5
6
7
8
6720

In [ ]:
num = int(input())
lst = []
for i in range(num):
  elem = input()
  lst.append(elem)

y = min(lst)
# minimum = min(lst)
# print(minimum)
# max = max(lst)
print(y)

2
14
12

TypeError: ignored

In [ ]:
# second largest
a = int(input())
b = []
for i in range(a):
  elem = int(input())
  b.append(elem)

b.sort()
print(b[-2:])

5
5
4
3
2
1
[4, 5]

In [ ]:
a = int(input())
lst = []
for i in range(a):
  elem = int(input())
  lst.append(elem)

lst.sort()
inp = int(input("no of largest elem: "))
for i in range(1,inp+1):
  print(lst[-i], end = " ")

5
5
4
1
2
3
no of largest elem: 2
5 4

In [ ]:
# even no
a1 = int(input())
inp1 = []
for i in range(a1):
  elem = int(input())
  inp1.append(elem)

for i in inp1:
  if i % 2 == 0:
    print(i)

5
55
44
11
22
33
44
22

In [ ]:
# odd num
ins = int(input())
b = []
for i in range(ins):
  elem = int(input())
  b.append(elem)

for i in b:
  if i % 2 == 1:
    print(i, end = " ")

5
55
44
77
88
99
55 77 99

In [ ]:
# removing empty list from lists
ins = int(input())
b = []
for i in range(ins):
  elem = input()
  b.append(elem)

print(b)
z = [elem for elem in b if elem != '[]']
print(z)

5
55
[]
44
[]
33
['55', '[]', '44', '[]', '33']
['55', '44', '33']

In [ ]:
# cloning or copying a lsit
a = int(input())
inp = []
for i in range(a):
  elem = int(input())
  inp.append(elem)

cloned_list = inp
print(cloned_list)

5
1
2
3
4
5
[1, 2, 3, 4, 5]

In [ ]:
# count occurance of an element
a = int(input())
b = []
for i in range(a):
  elem = int(input())
  b.append(elem)

x = b.count(5)
print(f"count of elem is  {x}")

8
4
5
2
5
3
5
5
5

In [ ]:
# find words greator than given length
inp = input('your sentence: ').split(" ")

length = int(input())
lst_of_words = [word for word in inp]

for word in lst_of_words:
  if len(word) > length:
    print(word, end=" ")

your sentence: uday kant is
2
uday kant

In [ ]:
# removing ith character from a string
inp = input()
str_new = ""
ith = int(input())
for i in range(len(inp)):
  if i != ith:
    str_new += inp[i]

print(str_new)

udaykant
5
udayknt

In [ ]:
# split and join the string
inp = input().split(" ")
inp2 = input("delimiter: ")
result = inp2.join(inp)
print(result)

uday kant
delimiter: *
uday*kant

In [ ]:
# find uncommon words from two string
inp1 = input().split(" ")
inp2 = input().split(" ")
new_str = ""
for i in inp1:
  if i not in inp2:
    new_str += i

for j in inp2:
  if j not in inp1:
    new_str += j

print(new_str)

uday kant
uday bgp
kantbgp

In [ ]:
# to check string is binary or not
strng = input()
compare_set = {"0", "1"}
a =set(strng)

if a == compare_set or a == '0' or a =='1':
  print("string is binary")
else:
  print("string is not binary")

10110001
string is binary

In [ ]:
# find all duplicate characters in string
inp = input()
strs = ""
for i in range(len(inp)):
  for j in range(i+1,len(inp)):
    if inp[i] == inp[j]:
      strs += inp[i]
print(strs)

abcdab
ab

In [ ]:
# program to check special character in string
strs = input()
new_strs = ""
spl_char = '["#$!@%^&*();:''<>,./\"]'
for i in strs:
  if i not in spl_char:
    new_strs += i

print(new_strs)

uday@bce
udaybce

In [ ]:
# dicitionary :- extract unique values of dicitionary
dic = {}
for i in range(2):
  key = input("key: ")
  value= input("value: ").split(',')

  dic[key] = value

print(dic)
result = ''
for i in dic.values():
  for j in i:
    result += j
t = set(result)
print(sorted(t))

key: a
value: 1,2,3
key: b
value: 2,3,4
{'a': ['1', '2', '3'], 'b': ['2', '3', '4']}
['1', '2', '3', '4']

In [ ]:
s = [2,4,3,6,1]
y = sorted(s)
print(y)

[1, 2, 3, 4, 6]

In [ ]:
# find the sum of all items in a dicitionary
dict1 = {}
for i in range(2):
  key = input("key: ")
  values = int(input("val: "))

  dict1[key] = values

result = sum(dict1.values())
print(result)

key: a
val: 123
key: b
val: 234
357

In [ ]:
# merging two dicitionary
dict1 = {"a":123,"b":234,"c":125}
dict2 = {"d":456, "e" : 732}

dict1.update(dict2)
print(dict1)

{'a': 123, 'b': 234, 'c': 125, 'd': 456, 'e': 732}

In [ ]:
# key values list to flat dicitionary
dict1 = {}
num = 2
while len(dict1) < num:
  key = input("key: ")
  value = input("value: ").split(",")
  dict1[key] = value

new_dict = dict(zip(dict1['month'], dict1['name']))
print(new_dict)

key: name
value: jan,feb
key: month
value: 1,2
{'1': 'jan', '2': 'feb'}

In [ ]:
g = dict()
for x in enumerate(range(2)):
  g[x[0]] = x[1]
  g[x[1]+7] = x[0]

print(g)

{0: 0, 7: 0, 1: 1, 8: 1}

In [ ]:
D = list((input()).split(','))
C = 50
H = 30
for elem in D:
  Q = ((2*C*int(elem))/H)**0.5
  print(int(Q), end =" ")

100,150,180
18 22 24

In [ ]:
# program to generate 2d array
rows = int(input())
cols = int(input())
arr = [[i*j for i in range(cols)] for j in range(rows)]
print(arr)

3
5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [ ]:
# Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
inp = input().split(",")
inp.sort()
print(",".join(inp))

without,hello,bag,world
bag,hello,without,world

In [ ]:
# Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
inp = input().split( )
lst = []
for i in inp:
  if i not in lst:
    lst.append(i)
  else:
    continue

lst.sort()
print(" ".join(lst))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

In [ ]:
# Write a program that accepts a sentence and calculate the number of letters and digits.Suppose the following input is supplied to the program:
inp = input()
alphabets = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"
num = "1234567890"
letters = 0
digits = 0
for i in inp:
  if i in alphabets:
    letters += 1
  elif i in num:
    digits += 1
  else:
    continue

print("letters: {}".format(letters))
print("digits: {}".format(digits))

hello world! 123
letters: 10
digits: 3

In [ ]:
# A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
# Following are the criteria for checking the password:
# 1. At least 1 letter between [a-z]
# 2. At least 1 number between [0-9]
# 3. At least 1 letter between [A-Z]
# 4. At least 1 character from [$#@]
# 5. Minimum length of transaction password: 6
# 6. Maximum length of transaction password: 12

inp = input().split(",")
val_pswds = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ~!@#$%^&*()_?/:;1234567890"

pswd = []
for pswds in inp:
  for i in pswds:
    if i in val_pswds:
      pswd.append(pswds)
    else:
        continue
print(pswd)

ABd1234@1,a F1#,2w3E*,2We3345
['ABd1234@1', 'ABd1234@1', 'ABd1234@1', 'ABd1234@1', 'ABd1234@1', 'ABd1234@1', 'ABd1234@1', 'ABd1234@1', 'ABd1234@1', 'a F1#', 'a F1#', 'a F1#', 'a F1#', '2w3E*', '2w3E*', '2w3E*', '2w3E*', '2w3E*', '2We3345', '2We3345', '2We3345', '2We3345', '2We3345', '2We3345', '2We3345']

Pattern Matching

In [ ]:
# left side triangle
inp = int(input())
for i in range(inp):
  for j in range(i+1):
    print('*',end = " ")
  print()

3
*
* *
* * *

In [ ]:
# odd stars in triangle
inp = int(input())
k = 1
for i in range(inp):
  for j in range(1,k+1):
    print("*", end =" ")
  k += 2
  print()

3
*
* * *
* * * * *

In [ ]:
# print pyramid shape
inp = int(input())
for i in range(inp):
  for j in range(inp-i-1):
    print(end = " ")
  for j in range(i+1):
    print("*", end = " ")
  print()

4
   *
  * *
 * * *
* * * *

In [ ]:
# reverse pyramid
inp = int(input())
for i in range(inp):
  for j in range(i):
    print(end = " ")
  for j in range(inp-i):
    print("*", end = " ")
  print()

4
* * * *
 * * *
  * *
   *

In [ ]:
# print in diamond shape
def pyramid(inp):
  for i in range(inp):
    print(" "*(inp-i-1) + "* "*(i+1))
  for j in range(inp-1,0,-1):
    print(" "*(inp-j) + "* "*j)

pyramid(5)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
inp = int(input())
for i in range(inp):
  for j in range(inp-i):
    print("*", end= " ")
  print()

5
* * * * *
* * * *
* * *
* *
*

In [ ]:
for row in range(7):
  for col in range(5):
    if ((col == 0 or col == 4) and row != 0) or ((row == 0 or row == 3) and (col > 0 and col < 4)):
      print("*", end ="")
    else:
      print(end = " ")

  print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [ ]:
n = int(input())
i=1

while i <= n:
    j=1
    while j <= i:
        if i == 1:
            print(1,end ='')

        elif j == 1 or j == i:
            print(i-1,end ='')

        else:
            print(0,end='')

        j=j+1
    print()
    i=i+1

5
1
11
202
3003
40004

In [ ]:
# square alphabet pattern
n = int(input())
alphabet = 65
for i in range(n):
  for j in range(n):
    print(chr(alphabet + j), end = "")
  alphabet += 1

  print()

4
ABCD
BCDE
CDEF
DEFG

In [ ]:
n = int(input())
for i in range(n):
  for j in range(n-i):
    print(n-i,end ="")
  print()

4
4444
333
22
1

In [ ]:
n = int(input())
for i in range(n):
  for j in range(n-i-1):
    print(" ",end = " ")
  for j in range(i,-1,-1):
    print(j+1, end= " ")
  print()

4
      1
    2 1
  3 2 1
4 3 2 1

In [ ]:
n =5
for i in range(n,-1,-1):
  print(i)

5
4
3
2
1
0

In [ ]:
n = int(input())
for i in range(n):
  for j in range(i):
    print(" ", end= "")
  for j in range(n-i):
    print(j+i+1,end="")
  print()
for i in range(n-2,-1,-1):
  for j in range(i):
    print(" ",end = "")
  for j in range(n-i):
    print(j+i+1, end ="")
  print()

5
12345
 2345
  345
   45
    5
   45
  345
 2345
12345

In [ ]:
def print_pattern(n):
    for i in range(n):
        for j in range(i):
            print(" ", end="")
        for k in range(n - i):
            print(k + i + 1, end="")
        print()

    for i in range(n - 2, -1, -1):
        for j in range(i):
            print(" ", end="")
        for k in range(n - i):
            print(k + i + 1, end="")
        print()

n = 5  # Number of rows in the pattern
print_pattern(n)

12345
 2345
  345
   45
    5
   45
  345
 2345
12345

In [ ]:
n = int(input('Enter the number:'))
i = 0
while i <= n - 1:
    j = 0
    while j < i:
        # display space
        print('', end= ' ')
        j += 1
    k = i
    while k <= n - 1:
        print(k+1, end= '')
        k += 1
    print()
    i += 1

i = n - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end= ' ')
        j += 1
    k = i
    while k <=  n - 1:
        print(k+1, end= '')
        k += 1
    print('')
    i -= 1

Enter the number:5
12345
 2345
  345
   45
    5
    5
   45
  345
 2345
12345

In [ ]:
n = int(input())
for i in range(1,n+1):
  for k in range(i,1,-1):
    print((k*n)+i,end = "")
  for j in range(1,n+1):
    print(j,end= "")

  print()

5
12345
1212345
181312345
24191412345
3025201512345

In [ ]:
n = int(input())
upper = int(n/2)+1
lower = n - upper
start_i_lower = 0

for i in range(0, upper):
  if i != 0:
    i = i + i
  start = n*i + 1
  end = start + n

  for j in range(start, end):
    print(j, end =" ")
  start_i_lower = i
  print()

start_i_lower -= 1

for i in range(0, lower):
  if(n%2 == 0):
    start_i_lower -= 1

  start = n*(start_i_lower-1) + 1
  end = start + n

  for j in range(1, n+1):
        print(j+n, end =" ")

  print()

5
1 2 3 4 5
11 12 13 14 15
21 22 23 24 25
6 7 8 9 10
6 7 8 9 10

In [ ]:
n = 5
h = 0
d = int(n/2)+1
for r in range(0, n):
	s=''
	for c in range(1, n+1):
		if r<d:
			h = r*2
		elif r==d:
			h = d
		else:
			h = int(d/3)
		s+=str(h*n+c) + ' '
	print(s)

1 2 3 4 5
11 12 13 14 15
21 22 23 24 25
16 17 18 19 20
6 7 8 9 10

In [ ]:
import math

n = int(input())

for i in range(math.ceil(n/2)):

  for j in range(1, n+1):

    print( n*2*i + j, end =" ")

  print ()

  for i in range(int(n/2),0, -1):

    for j in range( 1, n+1):

      print(n*(2*i-1) + j, end =" ")

  print()

5
1 2 3 4 5
16 17 18 19 20 6 7 8 9 10
11 12 13 14 15
16 17 18 19 20 6 7 8 9 10
21 22 23 24 25
16 17 18 19 20 6 7 8 9 10

In [ ]:
n = int(input())
for i in range(n):
  for j in range(n-i):
    print(" ", end ="")
  for j in range(2*i+1):
    if j==0 or j==2*i or i == n-1:
      print("*", end ="")
    else:
      print(" ",end="")
  print()

2
  *
 ***

In [ ]:
def print_pattern():
    rows = 5
    spaces = rows - 1
    stars = 1

    for i in range(rows):
        # Print spaces
        for j in range(spaces):
            print(" ", end="")

        # Print stars
        for j in range(stars):
            if i == rows - 1:
                print("*", end="")
            else:
                if j == 0 or j == stars - 1:
                    print("*", end="")
                else:
                    print(" ", end="")

        print()
        spaces -= 1
        stars += 2

print_pattern()

    *
   * *
  *   *
 *     *
*********

In [ ]:
n = int(input())
for i in range(n):
    for j in range(n-i):
        print(" ", end = "")
    for k in range(i+1):
        print("*", end ="")
    print()
for i in range(n-1):
    for j in range(i+2):
        print(" ",end = "")
    for k in range(n-i-1):
        print("*", end= "")
    print()

6
      *
     **
    ***
   ****
  *****
 ******
  *****
   ****
    ***
     **
      *

In [ ]:
nums = sorted(eval(input()))
target= int(input())

def searchInsert(nums,target):
  for i in range(len(nums)):
    if nums[i] == target:
      return i
    elif nums[i] > target:
      return i

searchInsert(nums, target)

7,5,4,3
6

3

In [ ]:
3//2

1

In [ ]:
nums=eval(input())
def singleNumber(nums):
  for i in nums:
    count = 0
    for j in nums:
      if j == i:
        count += 1
    if count == 1:
      return j

singleNumber(nums)

2,2,3,1

1

In [ ]:
nums=eval(input())
def singleNumber(nums):
  singles = []
  for i in range(0, len(nums)):
    for j in range(i+1, len(nums)):
      if i == j and nums[i] not in singles:
        singles.append(nums[i])

  return



singleNumber(nums)

2,2,3,1

[2, 2, 2]

In [ ]:
inp = input().split(",")
y = list(inp)
sum = 0
for i in inp:
  sum += int(i)
print(sum)

25,5
30

In [ ]:
inp1 = int(input())
inp2 = int(input())

div = inp1/inp2

print(div)

25
5
5.0

In [ ]:
nums1=eval(input())
nums2=eval(input())
def nextGreaterElement(nums1, nums2):
  for i in range(len(nums1)):
    nexts = -1
    for j in range(len(nums2)):
      if nums1[i] == nums2[j]:
          if nums1[i] < nums2[j]:
            print(nums2[J])
          else:
            print(nexts)


nextGreaterElement(nums1, nums2)

4,1,2
1,4,3,2
-1
-1
-1

In [ ]:
nums1 = eval(input())
nums2 = eval(input())
def nextgreaterelem(nums1,nums2):
  ans = []
  for i in range(0,len(nums1)):
    for j in range(0,len(nums2)):
      flag,val = 1,0
      if nums1[i]==nums2[j]:
        val = nums2[j]
        for k in range(j+1,len(nums2)):
          if nums2[k] > val:
            ans.append(nums2[k])
            flag = 0
            break

        if flag == 1:
          ans.append(-1)
  return ans

nextgreaterelem(nums1, nums2)

4,1,2
1,4,3,2

[-1, 4, -1]

In [ ]:
nums1 = eval(input())
nums2 = eval(input())
def nextGreaterElement(nums1, nums2):
	if not nums2:
		return None

	mapping = {}
	result = []
	stack = []
	stack.append(nums2[0])

	for i in range(1, len(nums2)):
		while stack and nums2[i] > stack[-1]:
			mapping[stack[-1]] = nums2[i]
			stack.pop()
		stack.append(nums2[i])

	for element in stack:
		mapping[element] = -1

	for i in range(len(nums1)):
		result.append(mapping[nums1[i]])
	return result


nextGreaterElement(nums1, nums2)

     # if stack is not empty, then compare it's last element with nums2[i]
		      # if the new element is greater than stack's top element, then add this to dictionary
		        # since we found a pair for the top element, remove it.
              # add the element nums2[i] to the stack because we need to find a number greater than this

                          # if there are elements in the stack for which we didn't find a greater number, map them to -1

4,1,2
1,3,4,2

[-1, 3, -1]

In [ ]:
nums=eval(input())
def missingNumber(nums):
    missing_num = 0
    for i in range(len(nums)+1):
        if i not in nums:
            missing_num = i
    return missing_num


print(missingNumber(nums))

1,3,0
2

In [ ]:
nums=eval(input())
def canThreePartsEqualSum(nums):
  average = sum(nums) // 3
  remainder = sum(nums)%3
  part = 0
  cnt = 0
  for a in nums:
    part += a
    if part == average:
      cnt += 1
      part = 0
  return not remainder and cnt >= 3

print(canThreePartsEqualSum(nums))

0,2,1,-6,6,-7,9,1,2,0,1
True

In [ ]:
set1=eval(input())
set2=eval(input())
def set_intersection(set1, set2):
  diff = []
  for i in range(len(set1)):
    for j in range(len(set2)):
      if set1[i] == set2[j]:
        x = set1[i]
        diff.append(x)
  return list(set(diff))

print(set_intersection(set1,set2))

1,2,2,1
2,2
[2]

In [ ]:
lst = [2,2,2,2]
x = set(lst)
list(x)

[2]

In [ ]:
nums=eval(input())
def majorityElement(nums):
  max_count = 0
  index = -1
  appearance = len(nums)//2
  for i in range(len(nums)):
    count = 1
    for j in range(i+1, len(nums)):
      if  nums[i] == nums[j]:
        count += 1

      if count > max_count:
        max_count = count
        index = i

    if max_count > appearance:
      return nums[index]
    else:
      return "no elements"

print(majorityElement(nums))

3,2,3
3

In [ ]:
a = [2,4,3,5]
for i, x in enumerate(a):
  print(i,x)

0 2
1 4
2 3
3 5

In [ ]:
dicts = {1:2,2:4,3:7,4:5}
for i in dicts:
  print(i)

1
2
3
4

In [ ]:
A=eval(input())
lst = list(A)
def largestPerimeter(lst):
  lst.sort(reverse= True)
  for i in range(len(lst)-2):
    if lst[i] < lst[i+1] + lst[i+2]:
      return lst[i]+lst[i+1]+lst[i+2]
  return 0

largestPerimeter(lst)

2,1,2

5

In [ ]:
A=eval(input())
lst = list(A)
lst.sort()
for i in range(len(lst),0,-1):
  print(i)

2,1,2
3
2
1

In [ ]:
lst = eval(input())
digits = list(lst)
def intg(digits):
  num = []
  for i in range(len(digits)):
    if digits[i] == digits[-1]:
      num.append(digits[i]+1)
    else:
      num.append(digits[i])
  return num


print(intg(digits))

1,2,3
[1, 2, 4]

In [ ]:
lst = [1,2,3,4]
for i in reversed(lst):
  print(i)

4
3
2
1

In [ ]:
lst = [1,2,3,4]
lst.pop(2)

3

In [ ]:
arr=eval(input())
k=int(input())
def findKthPositive(arr, k):
  lst = []
  for i in range(1,arr[-1]):
      if i not in arr:
        lst.append(i)

  return lst.pop(k-1)

print(findKthPositive(arr,k))

2,3,4,7,11
5
9

In [ ]:
aliceSizes=eval(input())
bobSizes= eval(input())
def fairCandySwap(aliceSizes, bobSizes):
  alice_nos = sum(aliceSizes)
  bob_nos = sum(bobSizes)
  output_sum = (alice_nos+bob_nos)//2
  aliceset = set(aliceSizes)
  for i in bobSizes:
    aliceCandy = output_sum - (bob_nos - i)
    if aliceCandy in aliceset:
      return [aliceCandy, i]


print(fairCandySwap(aliceSizes, bobSizes))

1,1

In [ ]:
lst = eval(input())
for i in range(len(lst)):
  if lst[i] == 5:
    break
  print(lst[i])

2,3,5,6
2
3

In [ ]:
lst = eval(input())
def getsum(lst):
  if len(lst) == 0:
    return 0
  else:
    return lst[0] + getsum(lst[1:])

print(getsum(lst))

2,3,4
9

In [ ]:
n=int(input())
base=int(input())
def to_string(n,base):
  strs = '0123456789ABCDEF'
  if n < base:
    return strs[n]
  else:
    return strs[n%base] + to_string(n//base, base)
to_string(n,base)

2835
16

'31B'